# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Build
dist/

# Ignore documentation
docs/

# Ignore test coverage
coverage/

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity
